/* IMPORTO IL LINK DI GOOGLE FONT */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bentham&family=Gruppo&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* background: linear-gradient(135deg, #0a0f24, #0e1a40, #1b3b73); */
    background: #0a0f24;
    animation: pulse 5s ease-in-out infinite;
}

@keyframes pulse {

    0%,
    100% {
        background-color: #0a0f24;
    }

    50% {
        background-color: #1b3b73;
    }
}

form {
    max-width: 600px;
    width: 100%;
    background: #fff;
    padding: 25px 25px 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    color: #333;
    margin: 25px;
}

form h2 {
    font-size: 30px;
    text-align: center;
    font-family: Noto Sans;
}

form .input-box {
    margin-top: 15px;
    font-family: Noto Sans;
}

.input-box .field {
    width: 100%;
    height: 50px;
    background: transparent;
    border: 2px solid #ddd;
    outline: none;
    border-radius: 20px;
    padding: 15px;
    font-size: 16px;
    color: #333;
    margin-top: 8px;
    font-family: Noto Sans;
}

.input-box .field.mess {
    height: 200px;
    resize: none;
}

form button {
    width: 100%;
    height: 55px;
    background: rgb(44, 84, 171);
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    margin-top: 25px;
    transition: .5s;
    font-family: Noto Sans;
}

form button:hover {
    background: #112062;
}